.home {
    width: 100%;
    height: 800px;
    background: url('../../img/index.89d3119228d600788910.svg') ;
    background-size:cover;
}
.home-wrapper {
    display: block;
    width: 80%;
    height: 500px;
    border: 4px solid grey;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    div {
        // margin-left: 2rem;
        div {
            border: 2px solid rgb(86, 126, 86);
            border-radius: 12px;
            margin-top: 60px;
            width: 25rem;
            height: 180px;
            font-size: 2.2rem;
            color: rgb(110, 252, 110);
            text-align: center;
        }
    }
    .home-img {
        margin:120px 0 0 215px ;
        width: 100%;
        height: 500px;
        background: url('../../img/dev.png')  no-repeat ;
    }
    p {
        margin-top: 100px;
        width: 24rem;
        height: 60px;
        border: 2px solid rgb(86, 126, 86);
        border-radius: 12px;
        color: rgb(110, 252, 110);
        font-family: 'Dhurjati';
        font-size: 40px;
        span {
            -webkit-animation: slide 2.5s infinite;
            animation: slide 2.5s infinite;
            display: inline-block;
            font-size: 2rem;
    
        }
    }
    
    @keyframes slide {
        0% {
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }
    
        15% {
            -webkit-transform: translate3d(-25%,0,0) rotate(-5deg);
            transform: translate3d(-25%,0,0) rotate(-5deg)
        }
    
        30% {
            -webkit-transform: translate3d(20%,0,0) rotate(3deg);
            transform: translate3d(20%,0,0) rotate(3deg)
        }
    
        45% {
            -webkit-transform: translate3d(-15%,0,0) rotate(-3deg);
            transform: translate3d(-15%,0,0) rotate(-3deg)
        }
    
        60% {
            -webkit-transform: translate3d(10%,0,0) rotate(2deg);
            transform: translate3d(10%,0,0) rotate(2deg)
        }
    
        75% {
            -webkit-transform: translate3d(-5%,0,0) rotate(-1deg);
            transform: translate3d(-5%,0,0) rotate(-1deg)
        }
    
        to {
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }
    }
}

@media  screen and (max-width:576px) {
    .home {
        height: 680px;
    }
    .home-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        height: 80%;
        p {
            width: 300px;
            margin: 0 auto;
            height: 60px;
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 30px;
            
        }
        div {
            margin: 0 auto;
            div {
                width: 300px;
                font-size: 24px;
                height: 110px;
                margin: 0 auto;
            }
        }
        .home-img {
            width: 280px;
            margin:0 auto;
            height: 300px;
            margin-top: 20px;
            margin-left: 20px;
        }
    
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
   .home {
     .home-wrapper {
        height: 80%;
        flex-direction: column;
        
        p {
            width: 100%;
        }
        div {
            div {
                height: 140px;
            }
            width: 100%;
        }
        .home-img {
            width: 350px;
            height: 300px;
            margin: 20px 0 0 18vw;
        }
     }
   }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .home {
        .home-wrapper {
            .home-img {
                margin: 10rem 0 0 0;
                margin-left: 40px;
            }
            div , p{
                width: 100%;
                font-size: 32px;
            }

            
        }
        
    }
}
@media screen and (min-width:993px) and (max-width:1200px) {
    .home {
        .home-wrapper {
            .home-img {
                margin: 123px 0 0 112px;

            }
        }
    }
}